* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;   
}

body{
    background-image: url(img/achtergrond\ wolken.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    z-index: 0;
}

::-webkit-scrollbar{
    display: none;
}

.Container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box{
    background: black;
    width: 80%;
}

#landingPage{
    margin-bottom: 150px;
}

#aboutPage{
    margin-bottom: -50px;
}

#musicPage{
    margin-bottom: 30px;
}

#feedPage{
    margin-bottom: 50px;
}

#aboutBox{
    height: 600px;
}

#bannername{
    position: absolute;
    width: 50vw;
    height: 105vh;
    left: 100px;
    top: 0px;
    z-index: 2;
}

#bannerimg{
    position: absolute;
   width: 50vw;
   right: 0px;
   /* top: 20px; */
   z-index: 1;
   opacity: 80%;
}

#musicContainer{
    width: 100%;
    height: 450px;
    /* background-image: url(img/img2.jfif); */
    background:black;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#musicContainer h1{
    margin-top: 60px;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 100px;
}

#playbuttonContainer{
    margin-top: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#pb1{
    width: inherit;
    height: inherit;
    border: 2px solid white;
    border-radius: 50%;
}

#pb2{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 52.0px;
    border-color: transparent transparent transparent #ffffff;
    margin-left: 10px;
}

#eqContainer{
    height: 400px;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.EQ{
    height: 10px;
    width: 40px;
    background: linear-gradient(white, gold);
    background-size: 40px 40px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s;
}

#feedBox{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedBox h1{
    font-size: 200px;
    text-shadow: 
        -1px -1px 0px #FF2D2D,
         0px -1px 0px #FF2D2D,
         1px -1px 0px #FF2D2D,
        -1px  0px 0px #FF2D2D,
         1px  0px 0px #FF2D2D,
        -1px  1px 0px #FF2D2D,
         0px  1px 0px #FF2D2D,
         1px  1px 0px #FF2D2D;
    color: black;
    font-family: 'Cinzel', serif;
    position: absolute;
    left: 10px;
    top: -20px;
}

#feed-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#Arrow{
    border-style: solid;
    border-width: 30px 0 30px 52.0px;
    border-color: transparent transparent transparent #FF2D2D;
}

.innerA{
    position: absolute;
    border-style: solid;
    border-width: 25px 0 25px 43.3px;
    border-color: transparent transparent transparent #090909;
    padding-left: 2px;
    transition: 0.3s;
    cursor: pointer;
}

.innerA:hover{
    border-color: transparent transparent transparent #FF2D2D; 
}

.Arrow-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 200px;
}

.Arrow-container2{  
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 200px;
    transform: scaleX(-1);
}

.facebook-media{
    position: absolute;
    z-index: 0;
    transform: scale(0.9,0.9);
    opacity: 0.6;
    transition: 1s;
}

#instapost-1{
    position: absolute;
    height: 616px;
    width: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#instapost-2{
    position: absolute;
    height: 341.1px;
    width: 295.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#calendarBox{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendarBox h1{
    font-size: 140px;
    text-shadow: 
        -1px -1px 0px #FF2D2D,
         0px -1px 0px #FF2D2D,
         1px -1px 0px #FF2D2D,
        -1px  0px 0px #FF2D2D,
         1px  0px 0px #FF2D2D,
        -1px  1px 0px #FF2D2D,
         0px  1px 0px #FF2D2D,
         1px  1px 0px #FF2D2D;
    color: black;
    font-family: "cinzel black";
    position: absolute;
    right: 135px;
    top: 50px;
    z-index: 100;
}

#img1{
    width: 750px;
    height: 600px;
    left: 50px;
    top: 35px;
    position: absolute;
    border-radius: 3px;
}

#Footer{
    height: 100px;
    background: black;
    color:#e6b030;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-size: 30px;
}


.fa{
    padding: 20px;
    font-size: 40px;
    float: left;
    text-decoration: none;
    right: -140px;
    position: relative;
  }

  
.fa-facebook {
    /* background: #e6b030; */
    color: #e6b030;
 
  }

.fa-instagram{
    /* background: #e6b030; */
    color: #e6b030;
    
  }

  span{
      font-size: 30px;
      margin: 10px;
      position: relative;
    top: -5px;
  }
