* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

::-webkit-scrollbar{
    display: none;
}

body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;   
}

body{
    background-image: url(img/achtergrond\ wolken.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    z-index: 0;
}

.Container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box{
    background: black;
    width: 80%;
}

#landingPage{
    margin-bottom: 150px;
}

#aboutPage{
    margin-bottom: -50px;
}

#musicPage{
    margin-bottom: 30px;
}

#feedPage{
    margin-bottom: 50px;
}

#aboutBox{
    height: 600px;
}

#musicContainer{
    width: 100%;
    height: 450px;
    background: white;
}

#feedBox{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedBox h1{
    font-size: 200px;
    text-shadow: 
        -1px -1px 0px #FF2D2D,
         0px -1px 0px #FF2D2D,
         1px -1px 0px #FF2D2D,
        -1px  0px 0px #FF2D2D,
         1px  0px 0px #FF2D2D,
        -1px  1px 0px #FF2D2D,
         0px  1px 0px #FF2D2D,
         1px  1px 0px #FF2D2D;
    color: black;
    font-family: "cinzel black";
    position: absolute;
    left: 10px;
    top: -20px;
    z-index: 2;
}

#feed-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#Arrow{
    border-style: solid;
    border-width: 30px 0 30px 52.0px;
    border-color: transparent transparent transparent #FF2D2D;
}

.innerA{
    position: absolute;
    border-style: solid;
    border-width: 25px 0 25px 43.3px;
    border-color: transparent transparent transparent black;
    padding-left: 2px;
    transition: 0.3s;
    cursor: pointer;
}

.innerA:hover{
    border-color: transparent transparent transparent #FF2D2D; 
}

.Arrow-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 200px;
}

.Arrow-container2{  
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 200px;
    transform: scaleX(-1);
}

.facebook-media{
    position: absolute;
    z-index: 0;
    transform: scale(0.9,0.9);
    opacity: 0.6;
    transition: 1s;
}

#instapost-1{
    position: absolute;
    height: 616px;
    width: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#instapost-2{
    position: absolute;
    height: 341.1px;
    width: 295.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#calenderBox{
    height: 600px;
}

#Footer{
    height: 100px;
    background: linear-gradient(transparent, black, black);
}

#autoscrollTop{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 20px;
}